<ul>
    <li>id:{{model.id}}</li>
    <li>First name:{{model.firstName}}</li>
    <li>Laset name:{{model.lastName}}</li>
    <li>email:{{model.email}}</li>
    <li>Twitter:{{model.twitter}}</li>
</ul>

-----
{{#link-to 'friends'}}to list of friends{{/link-to}}


{{outlet}}
