<h2>Friends index</h2>

{{! Context here is the controler}}
<h3> Total friends:{{model.length}}</h3>

  <table class="primary">
      <thead>
        <th>Name</th>
        <th>Articles</th>
        <th></th>
      </thead>
      <tbody>
        {{#each model  as |friend|}}
          <tr>
              <td>{{link-to friend.fullName 'articles' friend}}</td>
              <td>{{friend.totalArticles}}</td>
              <td><a href="#" {{action 'delete' friend}}> delete the mutherfucker</a></td>
          </tr>
        {{/each}}
      </tbody>
  </table>

{{outlet}}


-----
{{#link-to 'friends.new'}}new friend{{/link-to}}
-----
